# See https://github.com/subosito/flutter-action

name:  jovial_svg Test
run-name: ${{ github.actor }} jovial_svg Test
on:
    push:
        paths-ignore:
          - '**/README.md'
    workflow_dispatch:          # Manually

jobs:
    test:
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v4
            - uses: subosito/flutter-action@v2
              with:
                  channel: 'stable'
                  flutter-version: '3.22.0'
            - run: flutter pub upgrade
            - run: cd demo; flutter pub upgrade
            - run: cd utils/image_cmp ; flutter pub upgrade
            - run: cd example ; flutter pub upgrade
            - run: cd demo_hive; flutter pub upgrade
            - run: cd jovial_svg_transformer; flutter pub upgrade
            - run: flutter analyze
            - run: flutter test test/test_main.dart
